
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
}

@media screen and (min-width:1024px){
    .header{
        height: fit-content;
    }
}
/* 
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
#root{ 
    height: 100vh;
}

sizing of map
.leaflet-container{
    height: 100vh;
} */