@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"], input[type="password"], input[type="email"], 
input[type="tel"], input[type="number"] ,
textarea{
    @apply w-full border my-2 py-2 px-3 rounded-lg;
}
textarea{
    height: 130px;
}

button{
    @apply bg-gray-300;
}

button.primary{
    background-color: #001A64;
    @apply bg-primary p-2 w-full text-white rounded-2xl;
}

.center-container {
    display: grid;
    place-items: center; /* Center both horizontally and vertically */
}

button.saveButton{
    background-color: #001A64;
    @apply bg-primary p-2 px-40 justify-center text-white rounded-2xl;
}

button.add{
    background-color:#769ABE;
    @apply text-white text-center rounded-2xl w-40 py-0.5 justify-around;
}

select{
    color: #001A64;
}

.account-navigation{
    /* background-color: #F6C6BD; */
    /* border-color: #ADDFFF; */
    background-color:#769ABE;
    /* #ADDFFF #F6C6BD */
}

.info-container {
    display: flex;
    align-items: center;
}
.info-container text {
    display: inline-block;
    margin-right: 5px; /* Adjust this value for spacing between elements */
}
.info-container text + text::before {
    content: " •"; /* Unicode character for dot is \2022 */
    margin: 0 5px; /* Adjust this value for spacing between text and dot */
}

button.contact{
    background-color:#769ABE;
    @apply p-4 w-40 text-white text-center rounded-2xl;
}

@media (max-width: 900px) {
    .logo-text {
      display: none;
    }
  }