@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"], input[type="password"], input[type="email"]{
    @apply w-full border my-2 py-2 px-3 rounded-2xl;
}

button{
    @apply bg-gray-300;
}

button.primary{
    background-color: #001A64;
    @apply bg-primary p-2 w-full text-white rounded-2xl;
}

select{
    @apply rounded-2xl;
}
select.drop{
    @apply bg-primary p-2 w-full text-white rounded-2xl 
    font-medium text-sm px-5 py-2.5 text-center inline-flex
    focus:ring-2 focus:outline-none items-center
    hover:bg-blue-900
    ;
}